<%= render 'shared/errors', obj: @student %>

<div class="container">
    <div class="row center sign-up-form">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h3 class="header"><%= @student.new_record? ? "Sign up!" : "Edit your profile" %></h3>
                <div class="row">
                    <%= form_with(model: @student, class: "col s12") do |f| %>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.text_field :name, autofocus: true, data: { length: 50 } %>
                                <%= f.label :name, class: "active" %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.email_field :email, data: { length: 105 } %>
                                <%= f.label :email, class: "active" %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.password_field :password %>
                                <%= f.label :password, class: "active" %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <%= f.password_field :password_confirmation %>
                                <%= f.label :password_confirmation, class: "active" %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <% if @student.new_record? %>
                                    <%= f.button class: "btn teal lighten-2 waves-effect waves-light right" do %>
                                        Sign up
                                        <i class="material-icons right">fingerprint</i>
                                    <% end %>
                                <% else %>
                                    <%= f.button class: "btn teal lighten-2 waves-effect waves-light right" do %>
                                        Submit changes
                                        <i class="material-icons right">border_color</i>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>